<a href="https://colab.research.google.com/github/goelpravin/practice/blob/master/nawsDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
naws_data = pd.read_csv('https://www.dol.gov/sites/dolgov/files/ETA/naws/pdfs/NAWS_A2E197.csv')
naws_f2y_data = pd.read_csv('https://www.dol.gov/sites/dolgov/files/ETA/naws/pdfs/NAWS_F2Y197.csv')
epa_data = pd.read_csv('https://www.dol.gov/sites/dolgov/files/ETA/naws/pdfs/NAWS_EPA_2013_2014.csv')
osh_data = pd.read_csv('https://www.dol.gov/sites/dolgov/files/ETA/naws/pdfs/NAWS_NIOSH_2009_2010.csv')
naws_data = naws_data.merge(naws_f2y_data, on = "FWID", how="outer")
naws_data = naws_data.merge(epa_data, on = "FWID", how="outer")
naws_data = naws_data.merge(osh_data, on = "FWID", how="outer")
#naws_data_with_pesticides = naws_data[naws_data.NP01f>0]
naws_data_with_pesticides = naws_data[naws_data.PESTCONT>0]

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (82) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
print(naws_data_with_pesticides.count())
naws_data.head()

D36TFL5         282
D36TFL12        147
D36TFL18          0
currstat       3230
PWTYCRD_x      3278
               ...
MCDays10          0
MI1               0
MI2               0
MW3DaysCode       0
MW4DaysCode       0
Length: 431, dtype: int64

,D36TFL5,D36TFL12,D36TFL18,currstat,PWTYCRD_x,AGE,ACCOMP,B14CODE,B15CODE,B17CODE,...,MC8,MCDays8,MC9,MCDays9,MC10,MCDays10,MI1,MI2,MW3DaysCode,MW4DaysCode
0,NaN,NaN,NaN,4.0,0.606843,19.0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,3.0,1.699395,32.0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,3.0,2.399079,27.0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,0.865114,50.0,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,1.0,1.117846,35.0,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
mw3days_data = naws_data['MW3DaysCode']
weight_data= naws_data['PWTYCRD_x']
weighted_mean_mw3 = (mw3days_data * weight_data).sum() / weight_data.sum()
print("Overall Weighted Mean Mental Wellness Day 3 Score=", weighted_mean_mw3)

mw3days_pesticide_data = naws_data_with_pesticides['MW3DaysCode']
weight_pesticide_data= naws_data_with_pesticides['PWTYCRD_x']
weighted_mean_mw3_pesticide = (mw3days_pesticide_data * weight_pesticide_data).sum() / weight_pesticide_data.sum()
print("With Pesticides Weighted Mean Mental Wellness Day 3 Score=", weighted_mean_mw3_pesticide)

mw4days_data = naws_data['MW4DaysCode']
weighted_mean_mw4 = (mw4days_data * weight_data).sum() / weight_data.sum()
print("Overall Weighted Mean Mental Wellness Day 4 Score=", weighted_mean_mw4)

mw4days_pesticide_data = naws_data_with_pesticides['MW4DaysCode']
weighted_mean_mw4_pesticide = (mw4days_pesticide_data * weight_pesticide_data).sum() / weight_pesticide_data.sum()
print("With Pesticides Weighted Mean Mental Wellness Day 4 Score=", weighted_mean_mw4_pesticide)

Overall Weighted Mean Mental Wellness Day 3 Score= 0.003044242060984179
With Pesticides Weighted Mean Mental Wellness Day 3 Score= 0.0
Overall Weighted Mean Mental Wellness Day 4 Score= 0.018046399906226546
With Pesticides Weighted Mean Mental Wellness Day 4 Score= 0.0